# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Environment variables
.env.local
.env.*.local
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
*~
.DS_Store

# OS
Thumbs.db
.DS_Store
*.log
*.logs

# Cache
.npm
.eslintcache

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.turbo
